In [252]:
import rdflib
from rdflib.plugins.sparql import prepareQuery
from tabulate import tabulate

In [253]:
filename = "ABox.ttl"

In [254]:
text1 = '''CQ_13.1
Return the items, the name of the location their creation took place at, and eventually the name of the more precise location, if it exists.
'''

query1 = '''
PREFIX obj: <https://w3id.org/dharc/ontology/chad-ap/object/development/13/schema/>

SELECT ?item (GROUP_CONCAT(?place_label; separator=", ") AS ?place_label_combined)
WHERE {
    ?creation_event obj:tookPlaceIn ?place ;
        obj:createsExpression ?exp .
    ?exp obj:isEmbodiedIn ?mnf .
    ?mnf obj:isExemplifiedBy ?item .
    ?place obj:isIdentifiedBy ?placeapp .
    ?placeapp obj:hasSymbolicContent ?place_label .
}
GROUP BY ?item
'''

In [255]:
text2 = '''CQ_13.2
Return the items and their current locations.
'''

query2 = '''
PREFIX obj: <https://w3id.org/dharc/ontology/chad-ap/object/development/13/schema/>

SELECT ?item ?place_label
WHERE {
    ?creation_event obj:createsExpression ?exp .
    ?exp obj:isEmbodiedIn ?mnf .
    ?mnf obj:isExemplifiedBy ?item .
    ?item obj:hasCurrentLocation ?place .
    ?place obj:isIdentifiedBy ?app .
    ?app obj:hasSymbolicContent ?place_label .
}
'''

In [256]:
queries = [(text1, query1),
            (text2, query2),
           ]

g = rdflib.ConjunctiveGraph()
g.parse(filename, format="turtle", encoding="utf-8")

for query in queries:
    q = prepareQuery(query[1])
    results = g.query(q)
    print(query[0])
    table = []
    for row in results:
        table.append([row[var] for var in results.vars])
    print(tabulate(table, headers=results.vars, tablefmt="psql"))

CQ_13.1
Return the items, the name of the location their creation took place at, and eventually the name of the more precise location, if it exists.

+----------------------------------------------------+------------------------+
| item                                               | place_label_combined   |
|----------------------------------------------------+------------------------|
| https://w3id.org/changes/4/cappellini/699693/itm/1 | Italia, Opicina        |
| https://w3id.org/changes/4/cappellini/699708/itm/1 | Italia, Spoleto        |
+----------------------------------------------------+------------------------+
CQ_13.2
Return the items and their current locations.

+----------------------------------------------------+---------------+
| item                                               | place_label   |
|----------------------------------------------------+---------------|
| https://w3id.org/changes/4/cappellini/699693/itm/1 | Stanza VIII   |
| https://w3id.org/changes/4/cappellini/699708/itm/1 | Stanza VI     |
+----------------------------------------------------+---------------+